* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.top-block {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
    margin: 15px;
    font-weight: bold;
    height: 75px;
    align-items: center ;
        

}
.hyper {
    color: black;
    text-decoration: none;
}
li {
    margin: 5px;
}

.middle-block {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(116, 20, 29);
    color: white;
    align-items: center;
    
}

.title {
 font-size: 25px;

}
.undertext {
    list-style: none;
    color: white;
    font-size: 12px;
    text-align: center;
}

.hyperlink{
    color: white;
    text-decoration: none;
}

.bottom-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 10px;
    font-size: 13px;
    font-weight: bolder;
}
