* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.blackblock {
    display: flex;
    flex-wrap: wrap;
    background: black;
    width: 800px;
    height: 600px;
    padding: 5px;
}
.orange {
    width: 100%;
    height: 20%;
    background: orange;

}

.green {
    width: 25%;
    height: 60%;
    background: green;
}

.red {
    width: 25%;
    height: 60%;
    background: red;

}
.blue {
    width: 25%;
    height: 60%;
    background: blue;
}
.black {
    width: 25%;
    height: 60%;
    background: black;
}